# District Table
[github/cubensys/Korea_District/3_서울시_자치구/서울시_자치구_중심점_2017.csv](https://github.com/cubensys/Korea_District/blob/master/3_%EC%84%9C%EC%9A%B8%EC%8B%9C_%EC%9E%90%EC%B9%98%EA%B5%AC/%EC%84%9C%EC%9A%B8%EC%8B%9C_%EC%9E%90%EC%B9%98%EA%B5%AC_%EC%A4%91%EC%8B%AC%EC%A0%90_2017.csv)

- id - 코드
- name - 시군구명

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/seoul-district.csv', encoding='EUC-KR')
df.head()

      코드    시도명 시군구명           X          Y
0  11110  서울특별시  종로구  126.977321  37.594917
1  11140  서울특별시   중구  126.995968  37.560144
2  11170  서울특별시  용산구  126.979907  37.531385
3  11200  서울특별시  성동구  127.041059  37.551030
4  11215  서울특별시  광진구  127.085744  37.546706

In [3]:
# 시도명 column 삭제
df.drop(['시도명', 'X', 'Y'], axis=1, inplace=True)

In [4]:
df.head()

      코드 시군구명
0  11110  종로구
1  11140   중구
2  11170  용산구
3  11200  성동구
4  11215  광진구

In [5]:
# column명 변경
df.rename(columns={'코드':'id', '시군구명':'name'}, inplace=True)

In [6]:
df.head()

      id name
0  11110  종로구
1  11140   중구
2  11170  용산구
3  11200  성동구
4  11215  광진구

## 데이터 DB에 넣기

In [7]:
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv

In [8]:
load_dotenv()

username= os.getenv("DB_USERNAME")
password = os.getenv("DB_PASSWORD")
host = os.getenv("DB_HOST")
port = os.getenv("DB_PORT")
database = os.getenv("DB_DATABASE")

engine = create_engine(f'mysql+pymysql://{username}:{password}@{host}:{port}/{database}')

In [9]:
tableName = 'districts'

In [10]:
df.to_sql(name=tableName, con=engine, if_exists='append', index=False)

25

## 저장된 데이터 확인

In [11]:
query = f'select * from {tableName}'

In [12]:
savedDistricts = pd.read_sql(query, engine)

In [13]:
savedDistricts.head()

      id name
0  11110  종로구
1  11140   중구
2  11170  용산구
3  11200  성동구
4  11215  광진구